name = "provider-proxy"
type = "javascript"
zone_id = "PLACEHOLDER"
account_id = "PLACEHOLDER"
route = "/*"
workers_dev = true
usage_model = "unbound"

[build]
command = "yarn && yarn build"
[build.upload]
format = "service-worker"
